<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ page.title }} | After the Fall 攻略</title>

    <meta name="description" content="ページの説明文">
    <meta property="og:title" content="ページのタイトル">
    <meta property="og:description" content="ページの説明文">
    <meta property="og:image" content="https://mywebsite.com/image.jpg">
    <meta property="og:image:alt" content="画像の説明文">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://mywebsite.com/page">
    <link rel="canonical" href="https://mywebsite.com/page">

    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#5f4896">
</head>

<body>
    {{ content }}
</body>
</html>
