<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ page.title }} | After the Fall 攻略</title>

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="https://neopage.github.io/AfterTheFall/images/share.jpg">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://neopage.github.io/AfterTheFall{{ page.url }}">
    <link rel="canonical" href="https://neopage.github.io/AfterTheFall{{ page.url }}">

    <link rel="icon" href="/favicon.ico">
    <meta name="theme-color" content="#5f4896">
</head>

<body>
    {{ content }}
</body>
</html>
